body{
    font-family: 'Alkatra', cursive;
    color: var(--secondary2);
    font-size: 17px;
}     

header,
footer{
    color: var(--secondary3);
}

header .nombre1{
    font-size: 4rem;
}

header a{
    color: var(--secondary3);
}