:root{
    --primary:#FFDCB6;
    --primary2: #ECC9EE;
    --secondary:#C9A7EB;
    --secondary2:#9384D1;
    --secondary3:#7149C6;
    
    /* --white:#f5f9fa;
    --white2:#ebf3f5;
    --gray:#e1e4e5;
    --gray2:#c0c6c9;
    --gray3:#4b4c4d;
    --black:#323333;
    --black2:#2a2b2b; */
    /* son variables de colores, es muy comun esta forma */
}